<div class="col-md-4-offset-md-2">
    <div class="card">
        <div class="card-body">
            <h2>Agregar persona</h2>
            <form action="">
                <div class="form-group">
                    <input type="text" name="nombrePersona" placeholder="Nombre" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="apellidoPersona" placeholder="Apellido" class="form-control">
                </div>
                <div class="form-group">
                    <input type="number" name="edadPersona" placeholder="Edad" class="form-control">
                </div>
                <div class="form-group">
                    <input type="number" name="pesoPersona" placeholder="Peso" class="form-control">
                </div>
                <div class="form-group">
                    <select class="custom-select" name="generoPersona">
                        <option selected>Genero</option>
                        <option value="1">M</option>
                        <option value="2">F</option>
                        <option value="3">Otro</option>
                      </select>
                </div>
                <div class="form-group">
                    <input type="number" name="fechaNacimientoPersona" placeholder="Fecha Nacimiento" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" hidden name="countViewsPersona">
                </div>
                <div class="form-group">
                    <select class="custom-select" name="generoPersona">
                        <option selected>Seleccionar Planeta</option>
                        <option value="1">M</option>
                        <option value="2">F</option>
                        <option value="3">Otro</option>
                      </select>
                </div>

            </form>
        </div>
    </div>
</div>
