<div class="container">
    <div class="row">

        <div class="col-sm-5 col-md-6">
            <div class="card">
                <div class="card-header">
                    <label for="formGroupExampleInput" class="form-label">{{ planeta.nombrePlaneta }} </label>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <label for="formGroupExampleInput" class="form-label">Periodo Rotación:</label>
                        <input type="text" class="form-control" value="{{ planeta.periodoRotacionPlaneta }}"
                            [disabled]="true">
                    </div>
                    <div class="mb-3">
                        <label for="formGroupExampleInput" class="form-label">Diametro:</label>
                        <input type="text" class="form-control" value="{{ planeta.diametroPlaneta }}" [disabled]="true">
                    </div>
                    <div class="mb-3">
                        <label for="formGroupExampleInput" class="form-label">Clima:</label>
                        <input type="text" class="form-control" value="{{ planeta.climaPlaneta }}" [disabled]="true">
                    </div>
                    <div class="mb-3">
                        <label for="formGroupExampleInput" class="form-label">Terreno:</label>
                        <input type="text" class="form-control" value="{{ planeta.terrenoPlaneta }}" [disabled]="true">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">
            <div class="card">
                <div class="card-header">
                    <label for="formGroupExampleInput" class="form-label"> Personas que habitan en {{
                        planeta.nombrePlaneta }} </label>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">id</th>
                                <th scope="col">Nombres</th>
                                <th scope="col">Apellidos</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor='let listpersonas of listPersonasPlaneta'>
                                <th scope="row"> {{ listpersonas.idPersona }} </th>
                                <td>{{ listpersonas.nombrePersona }}</td>
                                <td>{{ listpersonas.apellidoPersona }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>